.navigation-toolbar {
  display: flex;
  justify-content: center;
}

.navigation-toolbar ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navigation-toolbar li:not(:first-child) {
  margin-left: 25px;
}

.navigation-toolbar a {
  text-decoration: none;
}
