.navigation-toolbar {
  display: flex;
  justify-content: center;
  background-color: cadetblue;
}

.navigation-toolbar ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navigation-toolbar li:not(:first-child) {
  margin-left: 25px;
}

.navigation-toolbar a {
  text-decoration: none;
  color: black;
}

.navigation-toolbar a.active-link {
  color: white;
  font-weight: bold;
}

.navigation-toolbar a:hover {
  padding: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  display: inline-block;
  transform: rotate(-5deg);
  -webkit-backface-visibility: hidden;
}
