.productPage {
  display: flex;
  /* width: 100%; */
}

.productPage .productList {
  justify-content: center;

  display: flex;
  flex-direction: column;
}

.productPage .productForm {
  width: 100%;
  margin-top: 10px;
}

.productForm form {
  padding: 10px 45px;
  border: 1px solid grey;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.productForm form div {
  display: flex;
  justify-content: center;

  width: 100%;
  margin-bottom: 10px;
}

.productForm form div label {
  min-width: 100px;
  text-align: right;
  margin-right: 20px;

  font-size: 20px;
}

.productForm form div input {
  flex: 1;
  max-width: 500px;
  padding: 5px;

  font-size: 16px;
}

.productForm form div input[type='number'] {
  text-align: right;
}
